.contactPage {
  background: #ff6f00;
  color: white;
}
.contact {
  background-image: url("../../images/contact_bg.png");
  background-color: #5d5df0eb;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.input-div {
  background-color: #161616;
  border-radius: 5px;
  height: 50px;
  padding: 18px;
  line-height: 50px;
  box-shadow: 0px 18px 18px 0 rgb(0 0 0 / 20%);
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.5px;
}
.input-div-m {
  background-color: #161616;
  border-radius: 5px;
  line-height: 40px;
  box-shadow: 0px 18px 18px 0 rgb(0 0 0 / 20%);
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.5px;
}

/* CSS */
.button-48 {
  border-radius: 5px;
  appearance: none;
  background-color: #161616;
  border-width: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer !important;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  border: 1px solid rgb(228, 227, 227);
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  border-radius: 5px;
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background: linear-gradient(
    135deg,
    rgba(255, 105, 0, 1) 0%,
    rgb(207, 46, 46) 100%
  );
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  border-radius: 5px;
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  border-radius: 5px;
  background-color: #ffffff;
}

.button-48 span {
  border-radius: 5px;
  z-index: 1;
  position: relative;
}
.w-70 {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .w-70 {
    width: 100% !important;
  }
}
